*{
    padding: 0;
    margin: 0;
    font-family: 'popins', 'sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}

.tod-app{
    width:100%;
    max-width: 33.75rem;
    background: #fff;
    margin:6.25rem auto 1.25rem;
    padding: 2.5rem 1.85rem 4.37rem;
    border-radius: 0.63rem;
}

.tod-app h2{
    color:#00267765;
    display: flex;
    align-items: center;
    margin:1.25rem;
}

.tod-app h2 img{
   width:1.9rem;
   margin-left: 0.63rem;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 1.25rem;
    margin-bottom: 1.56rem;
}

.row input{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding:0.625rem;
}

.row button{
    border:none;
    outline:none;
    padding:1rem 3.15rem;
    background: #ff5945;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    user-select: none;
    font-size: 1.3rem;
    padding:0.75rem 0.5rem 0.75rem 3.2rem;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-image: url("unchecked.png");
    background-size: cover;
    background-position: center;
    top:0.75rem;
    left: 0.5rem;
}

ul li.checked{
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("checked.png");
}

ul li span{
    position: absolute;
    right: 0;
    top:0.32rem;
    width:2.5rem;
    height: 2.5rem;
    line-height: 2.25rem;
    color:#555;
    text-align: center;
    font-size: 1.38rem;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

